$dark-color: #24272e;
$text-color: #555c68;
$testimonial-color: #8791a0;
$light-color: #fff;
$hero-color: #f3f4f6;
$bg-color: #f3f4f6;
$accent-color: #f0e714;
$bg-element: rgba(51, 56, 66, 0.24);
$bg-circles: rgba(36, 39, 46, 0.66);
$logos-color: #b9b9b9;
$links-color: #b3b3b3;
$input-color: #d3d3d3;
$accent-bg: rgba(240, 231, 20, 0.2);
$nav-color: #bab9b9;
$arrow-color: #828282;
$accent-bg: rgba(240, 231, 20, 0.5);
$avatar-color: #dcdcdc;
$btn-color: #cecece;
$line-color: #989898;